.vs/PersonalFInance_web.slnx/config/applicationhost.config
.vs/PersonalFInance_web.slnx/FileContentIndex/9b00cce5-145c-44f8-a4c1-dcb07e8efe32.vsidx
.vs/PersonalFInance_web.slnx/FileContentIndex/a1a1a1a8-4091-472f-bfb1-914e03c36175.vsidx
.vs/PersonalFInance_web.slnx/v18/.wsuo
.vs/PersonalFInance_web.slnx/v18/DocumentLayout.backup.json
.vs/PersonalFInance_web.slnx/v18/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
PersonalFinanceWeb/.vs/PersonalFinanceWeb.slnx/config/applicationhost.config
PersonalFinanceWeb/.vs/PersonalFinanceWeb.slnx/DesignTimeBuild/.dtbcache.v2
PersonalFinanceWeb/.vs/PersonalFinanceWeb.slnx/FileContentIndex/4f365103-d72a-401e-818e-baded6c6d442.vsidx
PersonalFinanceWeb/.vs/PersonalFinanceWeb.slnx/FileContentIndex/56ff600b-ba95-4db2-8bd5-dd6579393ab6.vsidx
PersonalFinanceWeb/.vs/PersonalFinanceWeb.slnx/FileContentIndex/6e6d80db-8f9c-4dfd-914f-ae6363ec4065.vsidx
PersonalFinanceWeb/.vs/PersonalFinanceWeb.slnx/FileContentIndex/b9967218-90da-4664-9477-b66dd16bebbf.vsidx
PersonalFinanceWeb/.vs/PersonalFinanceWeb.slnx/FileContentIndex/b9dc136d-2af3-4623-bb4a-2ab645e0a8f6.vsidx
PersonalFinanceWeb/.vs/PersonalFinanceWeb.slnx/v18/.futdcache.v2
PersonalFinanceWeb/.vs/PersonalFinanceWeb.slnx/v18/.suo
PersonalFinanceWeb/.vs/PersonalFinanceWeb.slnx/v18/DocumentLayout.backup.json
PersonalFinanceWeb/.vs/PersonalFinanceWeb.slnx/v18/DocumentLayout.json
PersonalFinanceWeb/.vs/ProjectEvaluation/personalfinanceweb.metadata.v10.bin
PersonalFinanceWeb/.vs/ProjectEvaluation/personalfinanceweb.projects.v10.bin
PersonalFinanceWeb/.vs/ProjectEvaluation/personalfinanceweb.strings.v10.bin
PersonalFinanceWeb/PersonalFinanceWeb.slnx
PersonalFinanceWeb/PersonalFinanceWeb/appsettings.Development.json
PersonalFinanceWeb/PersonalFinanceWeb/appsettings.json
PersonalFinanceWeb/PersonalFinanceWeb/bin/Debug/net10.0/appsettings.Development.json
PersonalFinanceWeb/PersonalFinanceWeb/bin/Debug/net10.0/appsettings.json
PersonalFinanceWeb/PersonalFinanceWeb/bin/Debug/net10.0/Microsoft.AspNetCore.OpenApi.dll
PersonalFinanceWeb/PersonalFinanceWeb/bin/Debug/net10.0/Microsoft.OpenApi.dll
PersonalFinanceWeb/PersonalFinanceWeb/bin/Debug/net10.0/PersonalFinanceWeb.deps.json
PersonalFinanceWeb/PersonalFinanceWeb/bin/Debug/net10.0/PersonalFinanceWeb.dll
PersonalFinanceWeb/PersonalFinanceWeb/bin/Debug/net10.0/PersonalFinanceWeb.exe
PersonalFinanceWeb/PersonalFinanceWeb/bin/Debug/net10.0/PersonalFinanceWeb.pdb
PersonalFinanceWeb/PersonalFinanceWeb/bin/Debug/net10.0/PersonalFinanceWeb.runtimeconfig.json
PersonalFinanceWeb/PersonalFinanceWeb/bin/Debug/net10.0/PersonalFinanceWeb.staticwebassets.endpoints.json
PersonalFinanceWeb/PersonalFinanceWeb/bin/Debug/net10.0/PersonalFinanceWeb.staticwebassets.runtime.json
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/ApiEndpoints.json
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/apphost.exe
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/compressed/c0sxw6g2s0-{0}-rcz5icy3aw-rcz5icy3aw.gz
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/compressed/ddp2ob4jqo-{0}-fw6h2qqeqo-fw6h2qqeqo.gz
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/compressed/fv1q8y57qd-{0}-cd3pigueoe-cd3pigueoe.gz
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/compressed/g0zuiorky3-{0}-fek0oqhzm5-fek0oqhzm5.gz
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/compressed/tqwd9coztf-{0}-03n0swx2in-03n0swx2in.gz
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/compressed/y9mjev3kpk-{0}-gsegag74fl-gsegag74fl.gz
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/EndpointInfo/PersonalFinanceWeb.json
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/EndpointInfo/PersonalFinanceWeb.OpenApiFiles.cache
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/Personal.28CF88BE.Up2Date
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/PersonalFinanceWeb.AssemblyInfo.cs
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/PersonalFinanceWeb.AssemblyInfoInputs.cache
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/PersonalFinanceWeb.assets.cache
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/PersonalFinanceWeb.csproj.AssemblyReference.cache
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/PersonalFinanceWeb.csproj.CoreCompileInputs.cache
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/PersonalFinanceWeb.csproj.FileListAbsolute.txt
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/PersonalFinanceWeb.dll
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/PersonalFinanceWeb.GeneratedMSBuildEditorConfig.editorconfig
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/PersonalFinanceWeb.genruntimeconfig.cache
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/PersonalFinanceWeb.GlobalUsings.g.cs
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/PersonalFinanceWeb.MvcApplicationPartsAssemblyInfo.cache
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/PersonalFinanceWeb.MvcApplicationPartsAssemblyInfo.cs
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/PersonalFinanceWeb.pdb
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/PersonalFinanceWeb.sourcelink.json
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/rbcswa.dswa.cache.json
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/ref/PersonalFinanceWeb.dll
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/refint/PersonalFinanceWeb.dll
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/rjimswa.dswa.cache.json
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
PersonalFinanceWeb/PersonalFinanceWeb/Controllers/WeatherForecastController.cs
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/EmbeddedAttribute.cs
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/rpswa.dswa.cache.json
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/staticwebassets.build.endpoints.json
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/staticwebassets.build.json
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/staticwebassets.build.json.cache
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/staticwebassets.development.json
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/staticwebassets.references.upToDateCheck.txt
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/staticwebassets.removed.txt
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/staticwebassets.upToDateCheck.txt
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/swae.build.ex.cache
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/ValidatableTypeAttribute.cs
PersonalFinanceWeb/PersonalFinanceWeb/obj/PersonalFinanceWeb.csproj.nuget.dgspec.json
PersonalFinanceWeb/PersonalFinanceWeb/obj/PersonalFinanceWeb.csproj.nuget.g.props
PersonalFinanceWeb/PersonalFinanceWeb/obj/PersonalFinanceWeb.csproj.nuget.g.targets
PersonalFinanceWeb/PersonalFinanceWeb/obj/project.assets.json
PersonalFinanceWeb/PersonalFinanceWeb/obj/project.nuget.cache
PersonalFinanceWeb/PersonalFinanceWeb/PersonalFinanceWeb.csproj
PersonalFinanceWeb/PersonalFinanceWeb/PersonalFinanceWeb.csproj.user
PersonalFinanceWeb/PersonalFinanceWeb/WeatherForecast.cs
PersonalFinanceWeb/PersonalFinanceWeb/Properties/launchSettings.json
PersonalFinanceWeb/PersonalFinanceWeb/PersonalFinanceWeb.http
PersonalFinanceWeb/.vs/PersonalFinanceWeb.slnx/FileContentIndex/114a1a1b-681b-41e5-b50d-fbc2c0503a16.vsidx
PersonalFinanceWeb/.vs/PersonalFinanceWeb.slnx/FileContentIndex/2842a6a3-7bc4-4fb1-b9bf-7d4bd62596b9.vsidx
PersonalFinanceWeb/.vs/PersonalFinanceWeb.slnx/FileContentIndex/344a014a-c8d9-4ed7-bde0-e4b86de9f65e.vsidx
PersonalFinanceWeb/.vs/PersonalFinanceWeb.slnx/FileContentIndex/976ce5d0-e568-4212-80fd-65bacadb1dc7.vsidx
PersonalFinanceWeb/.vs/PersonalFinanceWeb.slnx/FileContentIndex/9b7e06cf-b641-4aa5-8b45-26f7115d5139.vsidx
PersonalFinanceWeb/.vs/PersonalFinanceWeb.slnx/v18/TestStore/0/000.testlog
PersonalFinanceWeb/.vs/PersonalFinanceWeb.slnx/v18/TestStore/0/testlog.manifest
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/compressed/dpuksfco61-{0}-cieaae37r3-cieaae37r3.gz
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/compressed/ekvaqw2fnr-{0}-jr3phly41t-jr3phly41t.gz
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/compressed/fv1q8y57qd-{0}-i7zm3rtzv8-i7zm3rtzv8.gz
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/compressed/g0zuiorky3-{0}-ybbk426ws7-ybbk426ws7.gz
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/compressed/kykohjrtv4-{0}-o2fld5oldh-o2fld5oldh.gz
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/compressed/m2dt1gij5b-{0}-uag4je98ms-uag4je98ms.gz
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/compressed/nnsqb02fl5-{0}-tws5roq2ou-tws5roq2ou.gz
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/compressed/tqwd9coztf-{0}-2lhzuxv7t8-2lhzuxv7t8.gz
PersonalFinanceWeb/PersonalFinanceWeb/obj/Debug/net10.0/PersonalFinanceWeb.csproj.BuildWithSkipAnalyzers
